#error {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.error__text{
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    animation: opacity 0.3s;
}
.error__text span{
    font-size: 3.5vw;
    letter-spacing: 1px;
    margin-right: 3rem;
}
.error__text img{
    filter: invert();
}