.intro__main{
    text-align: center;
    color: #fff;
    font-family:'Netflix Sans', Arial, Helvetica, sans-serif;
    animation: opacity 0.3s linear, miniscaleXY 0.3s reverse linear;
} 

.intro__main .profile-title{
    width: 100%;
    font-size: 3.5vw;
    letter-spacing: 1px;
}

.intro__ul{
    margin: 2rem 0;
    display: flex;
}

.intro__ul .profile-link{
    width: auto;
    height: auto;
    margin-right: 2vw;
    text-decoration: none;   
}

.intro__li{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    list-style: none;
}
.intro__li:hover .profile-border{
    border: 0.25vw solid white;
}
.intro__li:hover .profile-name{
    color:white;
}


.intro__li .profile-img, .intro__li .add-img{ 
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#link-add{
    margin: 0;
}

#link-add .add-img{
    background-color: #141414;
}
#link-add:hover .add-img{
    background-color: #e5e5e5;
}

#link-add .add-img img{
    width: 100%;
}

.intro__li .profile-border{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border-radius: 5px;
}

.intro__li .profile-name{
    margin-top: 0.5vw;
    font-size: 1.3vw;
    color: grey;
}

#courage{
    background: url("https://i.ibb.co/c1n88Z3/Filepicture-Coraje.webp");
    background-size: cover;
}

#woody{
    background: url("https://i.ibb.co/gvF31FC/Filepicture-Woody.webp");
    background-size: cover;
}

#ranger{
    background: url("https://i.ibb.co/0Fmr687/Filepicture-Ranger-Green.webp");
    background-size: cover;
}

/*------------media queries--------------------*/

@media (max-width: 800px) and (max-aspect-ratio: 1/1){

    
    .intro__main{
        width: 55%;
    }
    
    .intro__main .profile-title {
        font-size: 4vw;
        letter-spacing: 0.5px;
    }
    
    .intro__ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .intro__ul .profile-link{  
       margin-bottom: 3.5vw;
    }
    
    .intro__li .profile-img, .intro__li .add-img {
        width: 23vw;
        height: 23vw;
    }
    
    .intro__li .profile-name {
        margin-top: 1.5vw;
        font-size: 2.5vw;
    }
    
}

@media (max-width: 400px) and (max-aspect-ratio: 1/1){

    
    .intro__main{
        width: 60%;
    }
    
    .intro__main .profile-title {
        font-size: 5vw;
    }
    
    .intro__ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .intro__ul .profile-link{  
       margin-bottom: 7vw;
    }
    
    .intro__li .profile-img, .intro__li .add-img {
        width: 26vw;
        height: 26vw;
    }
    
    .intro__li .profile-name {
        margin-top: 1.5vw;
        font-size: 3vw;
    }
    
}