.carousel-container{
    width: 100%;
    height: auto;
    background: linear-gradient(to top,rgba(20,20,20,1)75%,rgba(20,20,20,0.66)87%, rgba(20,20,20,0.33)93%, rgba(20,20,20,0)100%); 
    color: #ffffffea;
    line-height: 1.25vw;
    font-size: 1.1vw; 
    margin-bottom: 3.5vw;
}

.carousel-container.top{
    margin-top: -7vw;
}

.carousel-container .carousel-title{
    padding: var(--padding-container);
    margin-bottom: 1.4rem;
}

.carousel{
    width: 100%;
    height: auto;
    color: #e5e5e5;
    position: relative;
}

.left-arrow, .right-arrow{
    border: none;
    width: var(--right-container);
    outline:none;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
}

#arrow-space{
    width: var(--right-container);
    height: auto;
}

.right-arrow{
    right: 0;
}

.left-arrow img, .right-arrow img {
    width: 3rem;
    height: 4rem;
    display: none;
}

.left-arrow:hover{
background: rgba(0,0,0,.6);
}
.left-arrow:hover img, .right-arrow:hover img{
    display: block;  
} 

.pics{
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--padding-container);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*-------------------------media queries-----------------*/

@media (max-width: 800px) and (max-aspect-ratio: 1/1){

    .carousel-container{
        margin-bottom: 6vw;
    }
    

    .carousel-container .carousel-title{
    line-height: 0.7vw;
    font-size: 3vw;
    font-weight: 400;
    margin-bottom: 2rem;
    }

    .left-arrow img, .right-arrow img {
        width: 1.5rem;
        height: 2rem;
    }
}

@media (max-width: 400px) and (max-aspect-ratio: 1/1){
    
    .carousel-container .carousel-title{
    font-size: 4vw;
    }

}