.intro__header{
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    z-index: 1;
 
}

.intro__nav{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5.1rem;
}

.intro__nav img{
    width: 15rem; 
}
.intro__main{
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    animation: opacity 0.3s linear, miniscaleXY 0.3s reverse linear;
} 

.intro__main .profile-title{
    width: 100%;
    font-size: 3.5vw;
    letter-spacing: 1px;
}

.intro__ul{
    margin: 2rem 0;
}

.intro__ul > .intro__li {
    display: inline-block;
}

.intro__li{
    width: 10vw;
    height: 12.3vw;
    margin: 0 2vw 0 0;
    cursor: pointer;
}
.intro__li:hover{
    --hover-color: white;
}

#li-add{
    margin: 0;
}
#li-add:hover{
    --add-img-background: #e5e5e5;
}


.profile-pic{
    width: auto;
    height: auto;
    text-decoration: none;   
}

.profile-pic .profile-img, .profile-pic .add-img{ 
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}

.profile-pic .add-img{
    background-color: var(--add-img-background, #141414);
}

.profile-pic .add-img img{
    width: 10vw;
}

.profile-border{
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    border: 0.25vw solid var(--hover-color, transparent);
}

a .profile-name{
    font-size: 1.3vw;
    position: relative;
    top: 11vw;
    color: var(--hover-color, grey);
}



#courage{
    background: url("https://i.ibb.co/c1n88Z3/Filepicture-Coraje.webp");
    background-size: cover;
}

#woody{
    background: url("https://i.ibb.co/gvF31FC/Filepicture-Woody.webp");
    background-size: cover;
}

#ranger{
    background: url("https://i.ibb.co/0Fmr687/Filepicture-Ranger-Green.webp");
    background-size: cover;
}




#intro {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}
.home__header{
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    transition: background-color 0.4s;
    z-index: 3;
}

.home__header.background-dark{
    background-color: rgba(20, 20, 20);
}

.home__nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-container); 
}

.nav-primary{
    display: flex;
    align-items: center;
}

.home__nav img{
    width: 15rem;
    margin-right: 2.5rem;
}

/*---------------nav-list----------------*/

ul > li {
    display: inline-block;
}

.nav-list li{
    margin-left: 2rem;
}
.nav-list li a{
    text-decoration: none;
    transition: color 0.4s;
    color: #e5e5e5;
    font-size: 1.4rem;
    line-height: 1.2;
    transition: color 0.4s;
}
.nav-list li a:hover{
    color: #b3b3b3;
}

.nav-list li .a-active{
    font-weight: 700;
    cursor: default;
    color: #e5e5e5;
}

.nav-list li .a-active:hover{
    color: #e5e5e5;
}

/*------------nav-secondary------------*/

.nav-secondary{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
}

.nav-secondary .btn{
    cursor: pointer;
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
}

.nav-dropdown{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-profile{
    width: 3rem;
    height: 3rem;
    margin-right: 1.2rem;
    border-radius: 5px;
    background-size: cover;
}

.nav-dropdown-list{
    position: absolute;
    right: var(--right-container);
    top: 70px;
    width: 180px;
    display: none;
    flex-direction: column;
    background-color: rgba(0,0,0,.8);
    color: #fff !important;
    font-size: 13px;
    line-height: 21px;
    border: solid 1px rgba(255,255,255,.15);
    padding: 10px 0 5px 0;
    border-radius: 5px;

    opacity: 0;
    
}

.nav-profile-item:hover span, .profile-manage:hover{
    text-decoration: underline;
}

.profile-manage{
    padding: 10px 10px;
}

.nav-profile-item{
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

a:-webkit-any-link{
    color: #fff;
    text-decoration: none;
}

.nav-profile.first {
    background-image: url("https://i.ibb.co/c1n88Z3/Filepicture-Coraje.webp");
    background-size: cover;
}

.nav-profile.second {
    background-image: url("https://i.ibb.co/gvF31FC/Filepicture-Woody.webp");
    background-size: cover;
}

.nav-profile.third {
    background-image: url("https://i.ibb.co/0Fmr687/Filepicture-Ranger-Green.webp");
    background-size: cover;
}


.transform-arrow{
    font-size: 1rem;
    transform: scaleX(2);
    color: white;
    transition: transform 367ms;
}

.transform-arrow.rotated{
    transform: scaleX(2) rotate(180deg);
}

.visible{
    display: flex;
    animation: opacity;
    animation-duration: 0.3s;
    opacity: 1;
}


#info-modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
    display: flex;
    justify-content: center;
    padding-top: 3.4rem;
    animation: opacity;
    animation-duration: 0.3s;
}

.info-modal__banner{
    width: 70rem;   
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.info-modal__img-div{
    width: 100%;
    height: 40rem;
    background-size: cover;
    background-position: center;
}

.info-modal__banner-info{
    height: fit-content;
    margin-top: -15rem;
    background: rgb(24, 24, 24);
    background: linear-gradient(to top,rgb( 24, 24, 24)60%,rgb( 24, 24, 24,0.86)65%,rgb( 24, 24, 24,0.72)70%,rgb( 24, 24, 24,0.58)75%,rgba( 24, 24, 24,0.44)80%, rgba( 24, 24, 24,0.30)85%,rgb( 24, 24, 24,0.16)90%,rgb( 24, 24, 24,0.02)95%, rgba( 23, 24, 24,0)100%);
    padding: 0 0 2rem 5rem;
}

.icon-close{
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    background:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-close svg{
    width: 60%;
    height: 60%;
    outline: none;
}

.info-modal__banner-info h3{
    margin-bottom: 3rem;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem
}

.info-modal__banner-info .buttons {
    display: flex;
    width: auto;
    align-items: center;
}
.info-modal__banner-info .buttons .button-plus{
    width: 2.6vw;
    height: 2.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgb(175, 175, 175, 0.8);
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.info-modal__banner-info .buttons .button-plus:hover{
    border: 2px solid rgba(255, 255, 255, 0.9);
}

.info-modal__banner-info .buttons .button-plus svg{
    width: 60%;
    height: 60%;
    outline: none;
}

.banner-info__top-info{
    width: 100% ;
    margin-top: 3vw;
    font-size: 1.6rem;
}

.banner-info__top-info .categorie{
    border: 1px solid grey;
    padding: 0 0.6rem;
    margin-right: 1rem;
    color: rgb(26, 184, 26);
    font-weight: 700;
}

.banner-info__bottom-info{
    margin-top: 2rem;
}

.info-modal__banner-info .synopsis{
    display: block;
    width: 65%;
    font-size: 1.6rem;
}
.principal-preview{
    width: 100%;
    height: 50vw;
    min-height: 30rem;
    background-size: cover;
    padding: var(--padding-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vw;
}

.preview-container{
    width: 36%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.principal-png-btm{
    width: 27vw;
}

.principal-preview{
    font-size: 1.4vw;
    color: white;
}

.principal-buttons{
    margin-top: 2vw;
    display: flex;
}

.play-btn{
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border-radius: 5px;
    font-size: 1.2vw;
    border: none;
    font-weight: 700;
    background: white;
    cursor: pointer;
    margin-right: 1rem;
}

.play-btn span{
    font-size: 1.6vw; 
    margin-right: .5rem;
}

.play-btn:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.info-btn{
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border-radius: 5px;
    font-size: 1.2vw;
    border: none;
    font-weight: 700;
    background-color: rgba(109, 109, 110, 0.7);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;

}

.info-btn:hover{
    background-color:rgba(109, 109, 110, 0.4);
}

.icon-info{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

.age-categorie{
    position: absolute;
    right: 0;
    top: 30vw;
    border: solid 3px #dcdcdc;
    border-style: none none none solid;
    background-color: rgba(51,51,51,.6);
    font-size: 1.1vw;
    padding: .5vw 3.6vw .5vw .8vw;
}

.synopsis{
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: 1.3vw;
    -webkit-font-smoothing: antialiased;
}
.serie-pic{
    min-width: calc(20% - 0.3vw);
    height: 11vw;
    margin-right: 0.3vw;
    border-radius: 5px;
    cursor: pointer;
}

.serie-pic.last-pic{
    min-width: calc(20% - 0.3vw + 5.1rem);
    padding-right: 5.1rem;
}

.serie-pic img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#zoom-pic{
    /* width by js */
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    font-size: 1vw;
    position: absolute;
    top: 0px;
    /* margin: 0 var(--right-container); */
    background-color: #141414;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
    z-index: 2;
    transform: scale(1.3);
    animation: scaleXY 0.2s;
}



#zoom-pic img{
    width: 100%;
    height: 11vw;
    cursor: pointer;
}

#zoom-pic .zoom-pic-down{
    width: 100%;
    padding: 1.3vw 1.2vw;
}
#zoom-pic .zoom-pic-down-buttons{
    display: flex;
    justify-content: space-between;
}

#zoom-pic .zoom-pic-down-buttons .buttons-left{
    width: auto; 
    display: flex; 
    color: white;
}

#zoom-pic .zoom-pic-down-buttons .buttons{
    width: 2.1vw;
    height: 2.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.7px solid rgb(175, 175, 175, 0.8);
    background-color: transparent;
    color: #fff;
    margin-right: 0.4vw;
    padding: 0 0.4vw;
    cursor: pointer;
}

#zoom-pic .zoom-pic-down-buttons .buttons:hover{
    border: 1.7px solid rgba(255, 255, 255);
}

#zoom-pic .zoom-pic-down-buttons .buttons#zoom-pic__play-btn{
    color: black; 
    background-color: white; 
}

#zoom-pic .zoom-pic-down-buttons .buttons#zoom-pic__play-btn:hover{
    background-color: rgb(255, 255, 255, 0.89);
}

#zoom-pic .zoom-pic-down-info{
    width: 100% ;
    margin-top: 0.9vw;
}

#zoom-pic .zoom-pic-down-info .categorie{
    border: 1px solid grey;
    padding: 0 0.6rem;
    margin-right: 0.9vw;
    color: rgb(26, 184, 26);
    font-weight: 700;
}


.movie-pic{
    min-width: calc(20% - 0.3vw);
    height: 30vw;
    margin-right: 0.3vw;
    border-radius: 5px;
    cursor: pointer;
}

.movie-pic.last-pic{
    min-width: calc(20% - 0.3vw + 5.1rem);
    padding-right: 5.1rem;
}

.movie-pic img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#zoom-movie-pic{
    height: 30vw;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 0px;
    background-color: #141414;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
    z-index: 2;
    transform: scale(1.2);
    animation: scaleXY 0.2s;
}

#zoom-movie-pic img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

#zoom-movie-pic .zoom-pic-down{
    width: 100%;
    padding: 3rem 1.5rem 2rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top,rgba(0,0,0, 1),rgba(0,0,0, 0.8),rgba(0,0,0, 0) );
}
#zoom-movie-pic .zoom-pic-down-buttons{
    display: flex;
    justify-content: space-between;
}

#zoom-movie-pic .zoom-pic-down-buttons .buttons-left{
    width: auto; 
    display: flex; 
    color: white;
}

#zoom-movie-pic .zoom-pic-down-buttons .buttons{
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(175, 175, 175, 0.8);
    background-color: transparent;
    color: #fff;
    padding: 0 0.4vw;
    margin-right: 0.5rem;
    cursor: pointer;
}

#zoom-movie-pic .zoom-pic-down-buttons .buttons:hover{
    border: 2px solid rgba(255, 255, 255, 0.8);
}

#zoom-movie-pic .zoom-pic-down-buttons .buttons#zoom-pic__play-btn{
    color: black; 
    background-color: white; 
    font-size: 2.1rem;
}
#zoom-movie-pic .zoom-pic-down-buttons .buttons .down-arrow{
    transform: scaleX(1.6);
    margin: 0
}

#zoom-movie-pic .zoom-pic-down-buttons .buttons.plus{
    font-size: 2.4rem;

}

#zoom-movie-pic .zoom-pic-down-buttons .buttons#zoom-pic__play-btn:hover{
    background-color: rgb(255, 255, 255, 0.89);
}

#zoom-movie-pic_title{
    margin-top: 5px;
}

#zoom-movie-pic .zoom-pic-down-info{
    width: 100% ;
    margin-top: 1rem;
}

#zoom-movie-pic .zoom-pic-down-info .categorie{
    border: 1px solid grey;
    padding: 0 0.6rem;
    margin-right: 1rem;
    color: rgb(26, 184, 26);
    font-weight: 700;
}


.carousel-container{
    width: 100%;
    height: auto;
    background: linear-gradient(to top,rgba(20,20,20,1)75%,rgba(20,20,20,0.66)87%, rgba(20,20,20,0.33)93%, rgba(20,20,20,0)100%); 
    color: white;
    line-height: 1.25vw;
    font-size: 1.1vw; 
    margin-bottom: 3.5vw;
}

.carousel-container.top{
    margin-top: -7vw;
}

.carousel-container .carousel-title{
    padding: var(--padding-container);
    margin-bottom: 1.4rem;
}

.carousel{
    width: 100%;
    height: auto;
    color: white;
    font-size: 20px;
    position: relative;
}

.left-arrow, .right-arrow{
    border: none;
    width: 5.14rem;
    outline:none;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
}

.right-arrow{
    right: 0;
}

.left-arrow img, .right-arrow img {
    width: 3rem;
    height: 4rem;
    display: var(--arrow-display, none);
}

.left-arrow:hover, .right-arrow:hover{
    --arrow-display: block;
    background: rgba(0,0,0,.6);
} 

.pics{
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--padding-container);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

#loading img{
    width: 12rem;
    animation: rotate 1s infinite;
    animation-timing-function: linear;
    margin-bottom: 20rem;
}


#footer{
max-width: 980px;
margin: 10rem auto 0;
padding-bottom: 3.5rem;
}

.footer_container-links{
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 1.4rem 0;
}

.footer_link{
    min-width: 25%;
    list-style-type: none;
    margin-bottom: 1.6rem;
}

.footer_link a span{
    color: grey;
}

.footer_link a span:hover{
    text-decoration: underline;
}

.footer_signature{
    display: inline;  
    font-size: 1.3rem;
    padding: 0.3rem;
    border: 1px solid rgb(65, 65, 65);
    cursor: pointer
}

.footer_signature a span{
    color: grey;
}

.footer_signature:hover a span{
    color: rgb(201, 201, 201);
}

.icon-github{
    width: 3vw;
    height: 3vw;
    margin-left: 0;
    margin-bottom: 1rem;
    background: url("https://i.ibb.co/7YJv91t/Github.png");
    background-size: cover;
}

.icon-github:hover{
    filter: brightness(2);
}
#error {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

.error__text{
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    animation: opacity 0.3s;
}
.error__text span{
    font-size: 3.5vw;
    letter-spacing: 1px;
    margin-right: 3rem;
}
.error__text img{
    filter: invert();
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

#app {
    width: 100%;
    height: 100%;
    font-family:'Netflix Sans', Arial, Helvetica, sans-serif;
    background: #141414;

    --padding-container: 0 5.1rem;
    --right-container: 5.1rem;
}

.d-none{
    display: none;
}

/*----------------Keyframes----------------------*/

@keyframes opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes scaleXY {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

@keyframes miniscaleXY {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


