.carousel-container{
    width: 100%;
    height: auto;
    background: linear-gradient(to top,rgba(20,20,20,1)75%,rgba(20,20,20,0.66)87%, rgba(20,20,20,0.33)93%, rgba(20,20,20,0)100%); 
    color: white;
    line-height: 1.25vw;
    font-size: 1.1vw; 
    margin-bottom: 3.5vw;
}

.carousel-container.top{
    margin-top: -7vw;
}

.carousel-container .carousel-title{
    padding: var(--padding-container);
    margin-bottom: 1.4rem;
}

.carousel{
    width: 100%;
    height: auto;
    color: white;
    font-size: 20px;
    position: relative;
}

.left-arrow, .right-arrow{
    border: none;
    width: 5.13rem;
    outline:none;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
}

.right-arrow{
    right: 0;
}

.left-arrow img, .right-arrow img {
    width: 3rem;
    height: 4rem;
    display: var(--arrow-display, none);
}

.left-arrow:hover, .right-arrow:hover{
    --arrow-display: block;
    background: rgba(0,0,0,.6);
} 

.pics{
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--padding-container);
    overflow-x: hidden;
    scroll-behavior: smooth;
}