.principal-preview{
    width: 100%;
    height: 50vw;
    background-size: cover;
    padding: var(--padding-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5vw;
}

.preview-container{
    width: 36%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.principal-png-btm{
    width: 27vw;
}

.principal-preview{
    font-size: 1.4vw;
    color: white;
}

.principal-buttons{
    margin-top: 2vw;
    display: flex;
}

.play-btn{
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border-radius: 5px;
    font-size: 1.2vw;
    border: none;
    font-weight: 700;
    background: white;
    cursor: pointer;
    margin-right: 1rem;
}

.play-btn span{
    font-size: 1.6vw; 
    margin-right: .5rem;
}

.play-btn:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.info-btn{
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2.4rem;
    border-radius: 5px;
    font-size: 1.2vw;
    border: none;
    font-weight: 700;
    background-color: rgba(109, 109, 110, 0.7);
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;

}

.info-btn:hover{
    background-color:rgba(109, 109, 110, 0.4);
}

.icon-info{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

.age-categorie{
    position: absolute;
    right: 0;
    top: 62%;
    border: solid 3px #dcdcdc;
    border-style: none none none solid;
    background-color: rgba(51,51,51,.6);
    font-size: 1.1vw;
    padding: .5vw 3.6vw .5vw .8vw;
}

.synopsis{
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.4vw;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    margin-top: 1.3vw;
    -webkit-font-smoothing: antialiased;
}