
/*-------------------hover on serie----------------*/

#zoom-pic{
    width: 25vw;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    top: 550px;
    left: 500px;
    background-color: #141414;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
}

#zoom-pic img{
    width: 100%;
}

#zoom-pic .zoom-pic-down{
    width: 100%;
    padding: 2rem 1.5rem;

}
#zoom-pic .zoom-pic-down-buttons{
    display: flex;
    justify-content: space-between;
}
#zoom-pic .zoom-pic-down-buttons .buttons{
    width: 2.7vw;
    height: 2.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgb(175, 175, 175, 0.8);
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

#zoom-pic .zoom-pic-down-buttons .buttons:hover{
    border: 2px solid rgba(255, 255, 255, 0.8);
}

#zoom-pic .zoom-pic-down-buttons .buttons#zoom-pic__play-btn{
    color: black; 
    background-color: white; 
    font-size: 2.3rem;
}

#zoom-pic .zoom-pic-down-buttons .buttons#zoom-pic__play-btn:hover{
    background-color: rgb(255, 255, 255, 0.89);
}

#zoom-pic .zoom-pic-down-info{
    width: 100% ;
    margin-top: 1rem;
}

#zoom-pic .zoom-pic-down-info .categorie{
    border: 1px solid grey;
    padding: 0 0.6rem;
    margin-right: 1rem;
    color: rgb(26, 184, 26);
    font-weight: 700;
}

#zoom-pic .zoom-pic-down-buttons .buttons span{
    transform: scaleX(1.6);
}