.intro__main{
    text-align: center;
    color: #fff;
    font-family:'Netflix Sans', Arial, Helvetica, sans-serif;
    animation: opacity 0.3s linear, miniscaleXY 0.3s reverse linear;
} 

.intro__main .profile-title{
    width: 100%;
    font-size: 3.5vw;
    letter-spacing: 1px;

}

.intro__ul{
    margin: 2rem 0;
}

.intro__ul > .intro__li {
    display: inline-block;
}

.intro__li{
    width: 10vw;
    height: 12.3vw;
    margin: 0 2vw 0 0;
    cursor: pointer;
}
.intro__li:hover{
    --hover-color: white;
}

#li-add{
    margin: 0;
}
#li-add:hover{
    --add-img-background: #e5e5e5;
}


.profile-pic{
    width: auto;
    height: auto;
    text-decoration: none;   
}

.profile-pic .profile-img, .profile-pic .add-img{ 
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}

.profile-pic .add-img{
    background-color: var(--add-img-background, #141414);
}

.profile-pic .add-img img{
    width: 10vw;
}

.profile-border{
    width: 10vw;
    height: 10vw;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
    border: 0.25vw solid var(--hover-color, transparent);
}

a .profile-name{
    font-size: 1.3vw;
    position: relative;
    top: 11vw;
    color: var(--hover-color, grey);
}



#courage{
    background: url("https://i.ibb.co/c1n88Z3/Filepicture-Coraje.webp");
    background-size: cover;
}

#woody{
    background: url("https://i.ibb.co/gvF31FC/Filepicture-Woody.webp");
    background-size: cover;
}

#ranger{
    background: url("https://i.ibb.co/0Fmr687/Filepicture-Ranger-Green.webp");
    background-size: cover;
}

/*------------media queries--------------------*/

@media (max-width: 800px){

.intro__main{
    width: 45%;
}

.intro__ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro__li{
   width: 18vw;
   height: 21vw;
   margin-bottom: 2rem;
}

.profile-pic .profile-img, .profile-pic .add-img {
    width: 18vw;
    height: 18vw;
}

.profile-pic .add-img img {
    width: 18vw;
}

.profile-border {
    width: 18vw;
    height: 18vw;
}

a .profile-name {
    font-size: 2.7vw;
    top: 19vw;

}

.intro__main .profile-title {
    font-size: 4vw;
}

}

@media (max-width: 800px){

    .intro__main{
        width: 55%;
    }
    
    .intro__li{
       width: 23vw;
       height: 27vw;
       margin-right: 0;
       margin-bottom: 2rem;
    }
    
    .profile-pic .profile-img, .profile-pic .add-img {
        width: 23vw;
        height: 23vw;
    }
    
    .profile-pic .add-img img {
        width: 23vw;
    }
    
    .profile-border {
        width: 23vw;
        height: 23vw;
    }
    
    a .profile-name {
        font-size: 3vw;
        top: 24vw;
    
    }
    
    .intro__main .profile-title {
        font-size: 4vw;
    }
    
    }